<div [ngClass]="{'sunny-days-dark-theme': isDarkTheme | async}" id="thediv">
  <mat-toolbar>
    <mat-toolbar-row>
      <img [src]="imgsrc" (click)="onClick('search-results')" style="width: 50px; height: 50px;">
      <span class="example-fill-remaining-space"></span>
      <app-search-bar (cities)="citiesClicked($event)"></app-search-bar>
      <span class="example-fill-remaining-space"></span>
      <mat-icon aria-hidden="false" aria-label="Brightness">wb_sunny</mat-icon>
      <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)"></mat-slide-toggle>
      <mat-icon aria-hidden="false" aria-label="Brightness">brightness_3</mat-icon>
      <a class="btn" (click)="onClick('settings')">
        <mat-icon class="btn" aria-hidden="false" aria-label="Settings">settings</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="center">
    <app-city *ngIf="clicked === 'city'"></app-city>
    <app-forecast *ngIf="clicked === 'forecast'" [forecast]="forecast" [city]="city" (chart)="chartClicked($event)"></app-forecast>
    <app-search-results *ngIf="clicked === 'search-results'" [cities]="cities" (city)="cityClicked($event)" (forecast)="forecastClicked($event)"></app-search-results>
    <app-settings *ngIf="clicked === 'settings'"></app-settings>
    <app-welcome *ngIf="clicked === 'welcome'"></app-welcome>
    <app-chart *ngIf="clicked === 'chart'" [chart]="chart"></app-chart>
  </div>
</div>

