.center {
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100%;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius:5px !important;
 }
mat-toolbar-row, .mat-toolbar-single-row, mat-toolbar {
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 7%;
  font-size: 8px;
}
#thediv {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.btn {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 40px;
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}

app-search-bar {
  height: 50px;
}

app-search-bar {
  display: flex;
  justify-content: center;
  justify-items: center;
}
