<div class="forecast">
  <div class="upper">
    <div class="info">
      <mat-card class="info-card">
        <mat-card-header class="{{forecast.current.weather[0].main}}-header">
          <mat-card-title>
            <button class="chart-button" mat-button mat-icon-button aria-label="Chart" (click)="sendGraph(forecast)">
              <mat-icon aria-hidden=false>timeline</mat-icon>
            </button>
            {{city.name}}, {{city.sys.country}}
          </mat-card-title>
          <mat-card-subtitle>{{city.coord.lon}}, {{city.coord.lat}}</mat-card-subtitle>
          <mat-card-subtitle>{{datetime(forecast.current.dt)}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-card class="current">
            <div fxLayout="row wrap" class="info-row">
              <mat-card class="card-row {{forecast.current.weather[0].main}}-header">
                <mat-card class="card-column {{forecast.current.weather[0].main}}-header">
                  <mat-card-subtitle>Current</mat-card-subtitle>
                  <mat-card-title class="card-title">{{forecast.current.temp}}°C</mat-card-title>
                </mat-card>
                <mat-card class="card-column {{forecast.current.weather[0].main}}-header">
                  <mat-card-subtitle>Description</mat-card-subtitle>
                  <mat-card-title class="card-title">{{forecast.current.weather[0].main}}</mat-card-title>
                </mat-card>
                <mat-card class="card-column {{forecast.current.weather[0].main}}-header">
                  <mat-card-subtitle>Precipitation</mat-card-subtitle>
                  <mat-card-subtitle class="card-title">{{forecast.current.rain}} mm</mat-card-subtitle>
                </mat-card>
                <mat-card class="card-column {{forecast.current.weather[0].main}}-header">
                  <mat-card-subtitle>Sunrise</mat-card-subtitle>
                  <mat-card-title class="card-title">{{time(forecast.current.sunrise)}}</mat-card-title>
                </mat-card>
                <mat-card class="card-column {{forecast.current.weather[0].main}}-header">
                  <mat-card-subtitle>Sunset</mat-card-subtitle>
                  <mat-card-title class="card-title">{{time(forecast.current.sunset)}}</mat-card-title>
                </mat-card>
              </mat-card>
            </div>
            <div fxLayout="row wrap" class="info-row">
              <mat-card class="card-row {{forecast.current.weather[0].main}}-header">
                <mat-card class="card-column {{forecast.current.weather[0].main}}-header">
                  <mat-card-subtitle>Subjective</mat-card-subtitle>
                  <mat-card-title class="card-title">{{forecast.current.feels_like}}°C</mat-card-title>
                </mat-card>
                <mat-card class="card-column {{forecast.current.weather[0].main}}-header">
                  <mat-card-subtitle>Min</mat-card-subtitle>
                  <mat-card-title class="card-title">{{city.main.temp_min}}°C</mat-card-title>
                </mat-card>
                <mat-card class="card-column {{forecast.current.weather[0].main}}-header">
                  <mat-card-subtitle>Max</mat-card-subtitle>
                  <mat-card-title class="card-title">{{city.main.temp_max}}°C</mat-card-title>
                </mat-card>
                <mat-card class="card-column {{forecast.current.weather[0].main}}-header">
                  <mat-card-subtitle>Wind</mat-card-subtitle>
                  <mat-card-title class="card-title">{{forecast.current.wind_deg}}°</mat-card-title>
                </mat-card>
                <mat-card class="card-column {{forecast.current.weather[0].main}}-header">
                  <mat-card-subtitle>Wind speed</mat-card-subtitle>
                  <mat-card-title class="card-title">{{forecast.current.wind_speed}} km/h</mat-card-title>
                </mat-card>
              </mat-card>
            </div>
            <div fxLayout="row wrap" class="info-row">
              <mat-card class="card-row {{forecast.current.weather[0].main}}-header">
                <mat-card class="card-column {{forecast.current.weather[0].main}}-header">
                  <mat-card-subtitle>Pressure</mat-card-subtitle>
                  <mat-card-title class="card-title">{{forecast.current.pressure}} hPa</mat-card-title>
                </mat-card>
                <mat-card class="card-column {{forecast.current.weather[0].main}}-header">
                  <mat-card-subtitle>Humidity</mat-card-subtitle>
                  <mat-card-title class="card-title">{{forecast.current.humidity}}%</mat-card-title>
                </mat-card>
                <mat-card class="card-column {{forecast.current.weather[0].main}}-header">
                  <mat-card-subtitle>Dew point</mat-card-subtitle>
                  <mat-card-title class="card-title">{{forecast.current.dew_point}}°C</mat-card-title>
                </mat-card>
                <mat-card class="card-column {{forecast.current.weather[0].main}}-header">
                  <mat-card-subtitle>UV index</mat-card-subtitle>
                  <mat-card-title class="card-title">{{forecast.current.uvi}}</mat-card-title>
                </mat-card>
                <mat-card class="card-column {{forecast.current.weather[0].main}}-header">
                  <mat-card-subtitle>Cloudiness</mat-card-subtitle>
                  <mat-card-title class="card-title">{{forecast.current.clouds}}%</mat-card-title>
                </mat-card>
              </mat-card>
            </div>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="daily">
      <mat-card class="daily-card">
        <mat-card class="day-card" *ngFor="let day of forecast.daily">
          <mat-card-header class="card-row {{day.weather[0].main}}-header">
            <mat-card-title>{{day.weather[0].main}}</mat-card-title>
            <mat-card-subtitle>{{date(day.dt)}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="row wrap" class="info-row">
              <mat-card class="card-row {{day.weather[0].main}}-header">
                <mat-card class="card-column {{day.weather[0].main}}-header">
                  <mat-card-subtitle>Min</mat-card-subtitle>
                  <mat-card-title class="card-title">{{day.temp.min}}°C</mat-card-title>
                </mat-card>
                <mat-card class="card-column {{day.weather[0].main}}-header">
                  <mat-card-subtitle>Max</mat-card-subtitle>
                  <mat-card-title class="card-title">{{day.temp.max}}°C</mat-card-title>
                </mat-card>
              </mat-card>
            </div>
            <div fxLayout="row wrap" class="info-row">
              <mat-card class="card-row {{day.weather[0].main}}-header">
                <mat-card class="card-column {{day.weather[0].main}}-header">
                  <mat-card-subtitle>Humidity</mat-card-subtitle>
                  <mat-card-title class="card-title">{{day.humidity}}%</mat-card-title>
                </mat-card>
                <mat-card class="card-column {{day.weather[0].main}}-header">
                  <mat-card-subtitle>UV index</mat-card-subtitle>
                  <mat-card-title class="card-title">{{day.uvi}}</mat-card-title>
                </mat-card>
              </mat-card>
            </div>
            <div fxLayout="row wrap" class="info-row">
              <mat-card class="card-row {{day.weather[0].main}}-header">
                <mat-card class="card-column {{day.weather[0].main}}-header">
                  <mat-card-subtitle>Precipitation</mat-card-subtitle>
                  <mat-card-title class="card-title">{{day.rain}} mm</mat-card-title>
                </mat-card>
                <mat-card class="card-column {{day.weather[0].main}}-header">
                  <mat-card-subtitle>Wind</mat-card-subtitle>
                  <mat-card-title class="card-title">{{day.wind_speed}} km/h</mat-card-title>
                </mat-card>
              </mat-card>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card>
    </div>
  </div>


  <div class="hourly">
    <mat-card class="hourly-card">
      <mat-card class="hour-card" *ngFor="let hour of forecast.hourly">
        <mat-card-header class="h-row {{hour.weather[0].main}}-header">
          <mat-card-title>{{hour.weather[0].main}}</mat-card-title>
          <mat-card-subtitle>{{time(hour.dt)}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="row wrap" class="hour-row">
            <mat-card class="h-row {{hour.weather[0].main}}-header">
              <mat-card class="card-column {{hour.weather[0].main}}-header">
                <mat-card-subtitle>Temp</mat-card-subtitle>
                <mat-card-title class="card-title">{{hour.temp}}°C</mat-card-title>
              </mat-card>
            </mat-card>
          </div>
          <div fxLayout="row wrap" class="hour-row">
            <mat-card class="h-row {{hour.weather[0].main}}-header">
              <mat-card class="card-column {{hour.weather[0].main}}-header">
                <mat-card-subtitle>Humidity</mat-card-subtitle>
                <mat-card-title class="card-title">{{hour.humidity}}°C</mat-card-title>
              </mat-card>
            </mat-card>
          </div>
          <div fxLayout="row wrap" class="hour-row">
            <mat-card class="h-row {{hour.weather[0].main}}-header">
              <mat-card class="card-column {{hour.weather[0].main}}-header">
                <mat-card-subtitle>Wind</mat-card-subtitle>
                <mat-card-title class="card-title">{{hour.wind_speed}} km/h</mat-card-title>
              </mat-card>
            </mat-card>
          </div>
          <div fxLayout="row wrap" class="hour-row">
            <mat-card class="h-row {{hour.weather[0].main}}-header">
              <mat-card class="card-column {{hour.weather[0].main}}-header">
                <mat-card-subtitle>Precipitation</mat-card-subtitle>
                <mat-card-title class="card-title">{{hour.rain}} mm</mat-card-title>
              </mat-card>
            </mat-card>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>
</div>
