mat-form-field,
.mat-form-field-wrapper,
.mat-form-field-flex.ng-tns-c47-0,
.mat-form-field-outline,
.search_bar,
.ng-tns-c47-0 {
  // margin-bottom: -1.25em;
  // margin-top: -1.25em;
  // height: 50px;
  // width: 50%;
  // border: thin;
  // border-radius: 25px;
}
mat-icon,
.mat-button-wrapper,
button {
  // font-size: 30px !important;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep .mat-form-field-wrapper ::ng-deep mat-icon {
  margin-bottom: -1.25em;
  margin-top: -1.25em;
  border-radius: 15px;
}

::ng-deep .mat-form-field-flex {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}
::ng-deep .mat-form-field-infix {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}
::ng-deep .mat-form-field-wrapper {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}
input{
  height: 50px;
}
