<mat-form-field appearance="fill" class="search_bar">
  <!-- <mat-label>City</mat-label> -->
  <input placeholder="Search for a city" matInput type="search" [(ngModel)]="value">
  <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="search()">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>
