.Clouds-header,
.Clouds-header .sunny-days-dark-theme {
  border-radius: 2px;
  background-color: #e0e0e0;
  color: #212121 !important;
}

.Clear-header,
.Clear-header .sunny-days-dark-theme {
  border-radius: 2px;
  // background-color: #ffc107;
  background-color: #ffab40;
  color: whitesmoke !important;
}

.Extreme-header,
.Extreme-header .sunny-days-dark-theme {
  border-radius: 2px;
  // background-color: #ffc107;
  background-color: #d32f2f;
  color: whitesmoke !important;
}

.Thunderstorm-header,
.Thunderstorm-header .sunny-days-dark-theme {
  border-radius: 2px;
  // background-color: #ffc107;
  background-color: #303f9f;
  color: whitesmoke !important;
}

.Drizzle-header,
.Drizzle-header .sunny-days-dark-theme {
  border-radius: 2px;
  // background-color: #42a5f5;
  background-color: #64b5f6;
  color: whitesmoke !important;
}

.Rain-header,
.Rain-header .sunny-days-dark-theme {
  border-radius: 2px;
  // background-color: #42a5f5;
  background-color: #448aff;
  color: whitesmoke !important;
}

.Snow-header,
.Snow-header .sunny-days-dark-theme {
  border-radius: 2px;
  background-color: #f5f5f5;
  color: #212121 !important;
}

.Mist-header,
.Mist-header .sunny-days-dark-theme,
.Smoke-header,
.Smoke-header .sunny-days-dark-theme,
.Haze-header,
.Haze-header .sunny-days-dark-theme,
.Dust-header,
.Dust-header .sunny-days-dark-theme,
.Fog-header,
.Fog-header .sunny-days-dark-theme,
.Sand-header,
.Sand-header .sunny-days-dark-theme,
.Ash-header,
.Ash-header .sunny-days-dark-theme,
.Squall-header,
.Squall-header .sunny-days-dark-theme,
.Tornado-header,
.Tornado-header .sunny-days-dark-theme {
  border-radius: 2px;
  // background-color: #aaaaaa;
  background-color: #78909c;
  color: whitesmoke !important;
}

mat-card-subtitle.Mist-header,
mat-card-subtitle.Smoke-header,
mat-card-subtitle.Haze-header,
mat-card-subtitle.Dust-header,
mat-card-subtitle.Fog-header,
mat-card-subtitle.Sand-header,
mat-card-subtitle.Ash-header,
mat-card-subtitle.Squall-header,
mat-card-subtitle.Tornado-header,
mat-card-subtitle.Thunderstorm-header,
mat-card-subtitle.Rain-header,
mat-card-subtitle.Drizzle-header,
mat-card-subtitle.Clear-header,
mat-card-subtitle.Extreme-header {
  color: whitesmoke !important;
}

mat-card-subtitle.Clouds-header,
mat-card-subtitle.Snow-header {
  color: #212121 !important;
}

mat-card-subtitle.sunny-days-dark-theme, mat-card-subtitle#thediv {
  color: inherit !important;
}

.sunny-days-dark-theme::mat-card-subtitle {
  color: inherit !important;
}

.sunny-days-dark-theme .mat-card-subtitle {
  color: inherit !important;
}



.info-row {
  display: inline-flex;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.card-row {
  padding: 0;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  width: 210px;
  height: 70px;
  opacity: 100%;
}

.card-column {
  opacity: 100%;
  padding: 0;
  // width: 60px;
  // height: 60px;
  border-top: solid 1px;
  border-color: whitesmoke;
  align-items: center;
  align-content: center;
  text-align: center;
}

.card-title {
  font-size: 14px;
  text-align: center;
}

mat-card {
  border-radius: 5px;
  border-style: none !important;
}

mat-card-title {
  padding-top: 5px;
  font-weight: bold;
}

mat-card-subtitle {
  // padding-top: 2px;
  padding-bottom: 5px;
  color: inherit;
  // color: #424242 !important;
}

mat-card-content {
  margin-bottom: 0;
}

mat-card-actions {
  padding: 0;
  margin-bottom: 0 !important;
  display: flex;
  // padding-left: 3px !important;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

button {
  border-radius: 2px;
  width: 100%;
  margin: 0;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  padding: 0;
  font-weight: bold;
}

.tp-card {
  border-radius: 5px;
  border-style: none;
  padding: 0;
  width: 210px !important;
  // height: 400px !important;
  margin: 10px;
  border: 1px solid currentColor;
  display: inline-grid !important;
  // color: rgb(21, 21, 31);
  // background-color: rgb(128, 97, 97);
  grid-template-columns: repeat( auto-fit, minmax(180, 1fr)) !important;
}

.mat-card:not([class*=mat-elevation-z]) {
  color: rgb(21, 21, 31);
  box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);
}

.mat-card:not([class*=disabled]) {
  color: rgb(21, 21, 31);
  border-color: rgba(0,0,0,.12);
}

button {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5px;
}

.buttons {
  display: inline-flex;
}

.qual-button {
  background-color: whitesmoke !important;
  color: rgb(166, 19, 1) !important;
  font-weight: bold;
}
img {
  max-width: 250px;
  max-height: 150px;
}
div {
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
}
p {
  font-size: 14px !important;
  line-height: 3px !important;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,.mat-tab-nav-bar.mat-primary .mat-ink-bar, .mat-tab-label-content {
  color:  rgb(166, 19, 1) !important;
  background-color: rgb(21, 21, 31) !important;
}

::ng-deep .mat-tab-label-active {
  background-image:  linear-gradient(to top right, rgb(166, 19, 1), rgb(244, 29, 0)) !important;
}

::ng-deep .mat-tab-label-content {
  color: rgb(21, 21, 31) !important;
  font-weight: bold;
  font-size: 18px;
}

:ng-deep .mat-tab-group.mat-primary .mat-tab-labels,.mat-tab-nav-bar.mat-primary .mat-tab-labels {
  background-color: rgb(21, 21, 31) !important;
}

.search {
  width: 80%;
  justify-content: center;
  align-items: center;
}

mat-form-field,
.mat-form-field-wrapper,
.mat-form-field-flex.ng-tns-c47-0,
.mat-form-field-outline,
.search_bar,
.ng-tns-c47-0 {
  // margin-bottom: -1.25em;
  // margin-top: -1.25em;
  // height: 50px;
  // width: 50%;
  // border: thin;
  // border-radius: 25px;
}
// mat-icon {
//   width: 50px;
//   height: 50px;
//   justify-content: center;
//   align-items: center;
// }
::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep .mat-form-field-wrapper ::ng-deep mat-icon {
  margin-bottom: -1.25em;
  margin-top: -1.25em;
  border-radius: 2px;
  // width: 50%;
}

mat-form-field {
  width: 50%;
  justify-content: center;
  justify-self: center;
}

::ng-deep .mat-form-field-flex {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}
::ng-deep .mat-form-field-infix {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
  display: flex !important;
}
::ng-deep .mat-form-field-wrapper {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}
input{
  height: 50px;
}
