<div class="search">
  <mat-form-field appearance="fill" class="search_bar">
    <mat-label>Search for a city</mat-label>
    <input placeholder="Search for a city" matInput type="search" [(ngModel)]="value">
    <div class="buttons">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-form-field>
  <div class="buttons">
    <button mat-button mat-icon-button aria-label="Search" (click)="search()">
      SEARCH <mat-icon>search</mat-icon>
    </button>
    <button mat-button mat-icon-button aria-label="Clear results" (click)="clear()">
      CLEAR <mat-icon>highlight_off</mat-icon>
    </button>
    <button mat-button mat-icon-button aria-label="Update results" (click)="update()">
      UPDATE <mat-icon>update</mat-icon>
    </button>
  </div>

</div>

<div fxLayout="row wrap">
  <mat-card class="tp-card" *ngFor="let c of cities">
      <mat-card-header class="{{c.weather[0].main}}-header">
          <mat-card-title>{{c.name}}, {{c.sys.country}}</mat-card-title>
          <mat-card-subtitle>{{c.coord.lon}}, {{c.coord.lat}}</mat-card-subtitle>
          <mat-card-subtitle>{{c.weather[0].main}}</mat-card-subtitle>
          <mat-card-subtitle>Time: {{date(c.dt)}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="{{c.weather[0].main}}-header">
        <div fxLayout="row wrap" class="info-row">
          <mat-card class="card-row {{c.weather[0].main}}-header">
            <mat-card class="card-column {{c.weather[0].main}}-header">
              <mat-card-subtitle>Current</mat-card-subtitle>
              <mat-card-title class="card-title">{{c.main.temp}}°C</mat-card-title>
            </mat-card>
            <mat-card class="card-column {{c.weather[0].main}}-header">
              <mat-card-subtitle>Min</mat-card-subtitle>
              <mat-card-title class="card-title">{{c.main.temp_min}}°C</mat-card-title>
            </mat-card>
            <mat-card class="card-column {{c.weather[0].main}}-header">
              <mat-card-subtitle>Max</mat-card-subtitle>
              <mat-card-title class="card-title">{{c.main.temp_max}}°C</mat-card-title>
            </mat-card>
          </mat-card>
        </div>
        <div fxLayout="row wrap" class="info-row">
          <mat-card class="card-row {{c.weather[0].main}}-header">
            <mat-card class="card-column {{c.weather[0].main}}-header">
              <mat-card-subtitle>Subjective</mat-card-subtitle>
              <mat-card-title class="card-title">{{c.main.feels_like}}°C</mat-card-title>
            </mat-card>
            <mat-card class="card-column {{c.weather[0].main}}-header">
              <mat-card-subtitle>Pressure</mat-card-subtitle>
              <mat-card-title class="card-title">{{c.main.pressure}} hPa</mat-card-title>
            </mat-card>
            <mat-card class="card-column {{c.weather[0].main}}-header">
              <mat-card-subtitle>Humidity</mat-card-subtitle>
              <mat-card-title class="card-title">{{c.main.humidity}}%</mat-card-title>
            </mat-card>
          </mat-card>
        </div>
      </mat-card-content>
      <mat-card-actions class="{{c.weather[0].main}}-header">
        <button mat-flat-button class="forecast-button" color="primary" (click)="getForecast(c)">
            FORECAST
        </button>
        <button *ngIf="!isPinned(c)" mat-flat-button class="pin-button" color="accent" (click)="pin(c)">
          PIN <mat-icon>add_circle</mat-icon>
        </button>
        <button *ngIf="isPinned(c)" mat-flat-button class="unpin-button" color="warn" (click)="unpin(c)">
          UNPIN <mat-icon>remove_circle</mat-icon>
        </button>
      </mat-card-actions>
  </mat-card>
</div>
