<div class="chart-container">
  <mat-form-field appearance="fill">
    <mat-label>Span</mat-label>
    <mat-select [(value)]="tp">
      <mat-option value="Daily">Daily</mat-option>
      <mat-option value="Hourly">Hourly</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Parameter</mat-label>
    <mat-select [(value)]="src">
      <mat-option value="Temperature">Temperature</mat-option>
      <mat-option value="Humidity/Cloudiness">Humidity/Cloudiness</mat-option>
      <mat-option value="Pressure">Pressure</mat-option>
      <mat-option value="UV Index">UV Index</mat-option>
      <mat-option value="Precipitation">Precipitation</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <div class="nums-container" *ngIf="tp==='Daily'">
    <mat-form-field class="nums" appearance="fill">
      <mat-label>Start</mat-label>
      <span matPrefix>Day #</span>
      <input matInput type="number" min="0" max="7" [(ngModel)]="start">
    </mat-form-field>
    <br>
    <mat-form-field class="nums" appearance="fill">
      <mat-label>End</mat-label>
      <span matPrefix>Day #</span>
      <input matInput type="number" min="1" max="8" [(ngModel)]="end">
    </mat-form-field>
    <br>
  </div>
  <div class="nums-container" *ngIf="tp==='Hourly'">
    <mat-form-field class="nums" appearance="fill">
      <mat-label>Start</mat-label>
      <span matPrefix>Hour #</span>
      <input matInput type="number" min="0" max="47" [(ngModel)]="start">
    </mat-form-field>
    <br>
    <mat-form-field class="nums" appearance="fill">
      <mat-label>End</mat-label>
      <span matPrefix>Hour #</span>
      <input matInput type="number" min="1" max="48" [(ngModel)]="end">
    </mat-form-field>
    <br>
  </div>
  <button mat-button (click)="selectSource(src, tp, start, end)">
    <mat-icon>update</mat-icon>
  </button>
</div>


<google-chart #chart
   [title]="title"
   [type]="type"
   [data]="data"
   [options]="options"
   [width]="width"
   [height]="height">
</google-chart>
