@import '~@angular/material/theming';
@import './component-theme.scss';
@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

@include angular-material-theme($candy-app-theme);


$dark-primary: mat-palette($mat-indigo);
$dark-accent:  mat-palette($mat-pink, A200, A100, A400);
$dark-warn:    mat-palette($mat-red);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
@include component-themes($candy-app-theme);
.sunny-days-dark-theme {
  color: inherit;
  mat-card-subtitle {
    color: inherit !important;
  }
  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme);
}
