@import '~@angular/material/theming';

@mixin component-theme($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $primary: map-get($theme, $key: p);
  $background-color: mat-color($background, card);

  .center {
    @include mat-elevation(2);
    background-color: $background-color;
    // border: 1rem solid $background-color;
    // padding: 2rem;
    min-height: 200px;
    height: 93%;

    min-width: 200px;

    p {
      // color: white;
      line-height: 2.4rem;
      font-size: 2rem;
    }
  }
}
